# Ignore temporary folder for matlab compilation.
matlab_compil

# Ignore binary data.
*.bin
DstBuilder

# Ignore manual backups.
*.old

# Ignore Matlab automatic backups.
*.asv


# Ignore bash scripts.
*.sh
